* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background: hsl(230, 17%, 14%);
  color: hsl(0, 0%, 100%);
}
header {
  background: hsl(232, 19%, 15%);
  display: flex;
  justify-content: space-between;
  height: 250px;
  padding: 35px 150px 0px 150px;
}
header h1 {
  font-size: 24px;
}
header p {
  margin-top: 5px;
  font-size: 14px;
}
.color-text {
  color: hsl(228, 34%, 66%);
}

.switch-theme {
  display: flex;
  width: 200px;
  height: 50px;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.switch-theme p {
  font-size: 14px;
  font-weight: 400;

  color: hsl(228, 34%, 66%);
}
.toggle {
  width: 55px;
  height: 25px;
  border-radius: 500px;
  display: flex;
  justify-content: flex-start;
  padding: 3px;
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}
.btn {
  background-color: hsl(232, 19%, 15%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.stats-grid {
  display: flex;
  position: absolute;
  top: 150px;
  padding: 0 150px;
  gap: 30px;
}
.stats-item {
  width: 250px;
  height: 210px;
  background-color: hsl(228, 28%, 20%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
