:root {
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --YouTube: hsl(348, 97%, 39%);
  --color-text: hsl(228, 34%, 66%);

  --White: hsl(0, 0%, 100%);
  --Very-Pale-Blue: hsl(225, 100%, 98%);
  --Light-Grayish-Blue: hsl(227, 47%, 96%);
  --Dark-Grayish-Blue: hsl(228, 12%, 44%);
  --Very-Dark-Blue: hsl(230, 17%, 14%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background: hsl(230, 17%, 14%);
  color: hsl(0, 0%, 100%);
}

.wrapper-header {
  background-color: hsl(232, 19%, 15%);
  width: 100%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 150px;
  background-color: transparent;
}
header {
  background: hsl(232, 19%, 15%);
  padding-top: 30px;
  display: flex;
  border-radius: 0px 0px 10px 10px;
  position: relative;
  justify-content: space-between;
  height: 250px;
}
header h1 {
  font-size: 24px;
}
header p {
  margin-top: 5px;
  font-size: 14px;
}
.color-text {
  color: hsl(228, 34%, 66%);
}

.switch-theme {
  display: flex;
  width: 200px;
  height: 50px;
  position: relative;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.switch-theme p {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.toggle {
  width: 55px;
  height: 25px;
  border-radius: 500px;
  display: flex;
  justify-content: flex-start;
  padding: 3px;
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}
.btn {
  background-color: hsl(232, 19%, 15%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.stats-grid {
  width: 100%;
  display: flex;
  position: relative;
  gap: 30px;
  justify-content: space-between;
  z-index: 1;
  flex: 1;
  margin-top: -100px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.stats-item {
  width: 260px;
  position: relative;
  height: 235px;
  background-color: hsl(228, 28%, 20%);
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  cursor: pointer;
  flex-shrink: 1;
}

.stats-item:hover {
  background-color: hsl(228, 28%, 25%);
}

.border {
  position: absolute;
  height: 10px;
  width: 100%;
  border-radius: 5px;
  top: -5px;
  z-index: -1;
}

.border-f {
  background-color: var(--Facebook);
}

.border-t {
  background-color: var(--Twitter);
}
.border-i {
  background: var(--Instagram);
}

.border-y {
  background-color: var(--YouTube);
}

.social {
  display: flex;
  justify-content: center;
  align-self: center;
}
.social-name {
  color: var(--color-text);
  margin-left: 8px;
  font-size: 0.9em;
}

.followers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.f-number {
  font-weight: 700;
  font-size: 3.3em;
  margin: 25px 0px 0px 0px;
}

.f-text {
  color: var(--color-text);
  font-size: 0.8em;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.rating {
  font-size: 0.9em;
  display: flex;
  align-items: center;
}
.rating img {
  margin-right: 8px;
}

.pos {
  color: var(--Lime-Green);
}

.neg {
  color: var(--Bright-Red);
}

.overview-container h2 {
  margin-bottom: 25px;
}

.overview-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding-bottom: 70px;
}

.overview-item {
  width: 260px;
  height: 130px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: hsl(228, 28%, 20%);
  padding: 25px;
  cursor: pointer;
}

.overview-item:hover {
  background-color: hsl(228, 28%, 25%);
}
.overview-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.overview-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.n-overview {
  font-weight: 500;
  font-size: 1.7em;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers img {
  margin-right: 5px;
}
.attribution {
  position: fixed;
  bottom: 5px;
  left: 10px;
}

@media screen and (min-width: 355px) and (max-width: 712px) {
  header {
    height: 220px;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
  header h1 {
    font-size: 1em;
  }
  .header-title {
    margin-bottom: 0px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
  }
  .switch-theme p {
    color: hsl(228, 34%, 66%);
  }

  .switch-theme {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .wrapper {
    width: 90%;
    margin: auto;
  }
  .wrapper-header {
    width: 100%;
    margin: auto;
  }
  .overview-grid,
  .stats-grid,
  .stats-item,
  .overview-item {
    width: 100%;
  }
  .stats-grid {
    margin-top: -40px;
  }
  .stats-item,
  .overview-item {
    width: 100%;
  }
}

@media screen and (min-width: 790px) {
  .wrapper {
    width: 100%;
    margin: auto;
    padding: 0 130px;
  }
}

@media screen and (max-width: 810px) {
  .wrapper {
    width: 90%;
    margin: auto;
    padding: 0 60px;
  }
}

@media screen and (max-width: 744px) {
  .stats-item,
  .overview-item {
    width: 100%;
  }
}

@media screen and (max-width: 374px) {
  header {
    height: 230px;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
  header h1 {
    font-size: 0.5em;
  }
  .switch-theme {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header-title {
    margin-bottom: 0px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
  }
  .followers .f-number {
    font-size: 2em;
  }
  .f-text {
    font-size: 0.5em;
  }
  .stats-item {
    height: auto;
  }
  .stats-grid {
    margin-top: -50px;
  }
}
